/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.container {
  height: 300px;
  width: 1500px;
  background-color:rgba(55, 95, 55, 0.295);
  
}


